@{
    ViewData["Title"] = "Entre em contato";
}
<h2>@ViewData["Title"].</h2>

<address>
    <abbr title="Author">A:</abbr> N&iacute;colas Tarzia<br />
    <abbr title="E-mail">@:</abbr> <a href="mailto:red.error@nicolastarzia.com">red.error@nicolastarzia.com</a> 
</address>