@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    N&iacute;colas Tarzia<br />
    <abbr title="Phone">P:</abbr>
    (12) 99214-1859
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@nicolastarzia.com">Support@nicolastarzia.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nicolastarzia.com">Marketing@nicolastarzia.com</a>
</address>
